@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid rgb(223, 142, 168);
    border-bottom:12px solid #fff;
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
a:link {
    color: rgb(223, 142, 168)
}
introduction {
    color:rgb(223, 142, 168);
}
header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
#logo {
    width:20%;
}
#navigation {
    width:80%;
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(223, 142, 168);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#logo {
    font-size:24px;
    color:rgb(223, 142, 168);
}
#navigation {
    text-align:right;
}
#navigation a {
    color:rgb(223, 142, 168);
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid rgb(223, 142, 168);
}
#top_part {
    width:100%;
    height: 100vh;
}
#top_part tr td{
    width:50%;
}
#top_part tr td h1 {
    color: rgb(223, 142, 168);
    margin-top: 1px;
    margin-bottom: 1px;
}
#top_part tr td a {
    color: rgb(223, 142, 168);
}
#about {
    width:84% !important;
    height:95vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#about table {
    width:70%;
    margin-top:4vh;
}
#about table tr td {
    width:20% !important;
    text-align:left;
}
.social {
    color:rgb(223, 142, 168) !important;
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:rgb(223, 142, 168);
    background:rgba(223, 142, 168, 0.3);
}
.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:rgb(223, 142, 168);
    background:#fff;
    border:3px solid rgb(223, 142, 168);
    padding:8px 40px;
    width:35%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
}
.btn_one:hover {
    cursor:pointer;
    color:#fff;
    background:rgb(223, 142, 168);
}
#rightImage {
    width:100%;
    background:url('./profile.png') center right;
    background-size:contain;
    background-repeat:no-repeat;
}
#work {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(223, 142, 168);
    width:6%;
}
#bio {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(223, 142, 168);
    width:8%;
}
#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(223, 142, 168);
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#contact table tr td a {
    text-decoration: none;
    color: black;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 0px !important;
}
#contact form {
    width:100%;
}
#contact form input {
    width:96%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:3px solid rgb(223, 142, 168);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:3px solid rgb(223, 142, 168);
    padding:8px 10px;
    font-family: 'Poppins', sans-serif;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#000;
    font-weight:bold;
}
#contact form input:focus {
    outline:none;
    border-bottom:3px solid rgb(223, 142, 168);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:3px solid rgb(223, 142, 168);
}
#address {
    position:relative;
    top:-25px;
    left:30px;
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    color:rgb(223, 142, 168);
    text-decoration:none;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(223, 142, 168); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 142, 168); 
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        height: 100vh;
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    background:rgb(223, 142, 168);
    color:#fff;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:#fff;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #header a:hover {
        border-bottom: 2px solid rgb(223, 142, 168);
    }
    #navigation a {
        color:#000;
    }
    #navigation a:hover {
        border-bottom: 2px solid rgb(223, 142, 168);
    }
}

#photos {
    width: 100%;
    columns: 3;
    column-gap: 4%;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

#photos video {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    height: auto;
    transition: 0.4s ease-in-out;
}

.hover_to_play {
    font-weight: normal;
}

.hide {
    visibility: hidden;
}

.video {
    margin-bottom: 4%;
}

.thumbnail1 {
    background-image: url('1.png');
    background-size: cover
}

.thumbnail2 {
    background-image: url('2.png');
    background-size: cover
}

.thumbnail3 {
    background-image: url('3.png');
    background-size: cover
}

.thumbnail4 {
    background-image: url('4.png');
    background-size: cover
}

.thumbnail5 {
    background-image: url('5.png');
    background-size: cover
}

.thumbnail6 {
    background-image: url('6.png');
    background-size: cover
}

.thumbnail7 {
    background-image: url('7.png');
    background-size: cover
}

.thumbnail8 {
    background-image: url('8.png');
    background-size: cover
}

.thumbnail9 {
    background-image: url('9.png');
    background-size: cover
}

.thumbnail10 {
    background-image: url('10.png');
    background-size: cover
}

.hide_background {
    background-image: none !important
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
    display: none !important;
}